.container {
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-row: 1 /-1;
    grid-column: 1 / 1;
}
.navbar {
    grid-row: 1 / 1;
    grid-column: 2 / -1;
}
.main {
    grid-row: 2/ -1;
    grid-column: 2;
}
.navbar-top {
    display:flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.search-bar {
    border-radius: 15px;
}

.user-links {
    display:flex;
    justify-content: space-between;
}