.container {
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-row: 1 /-1;
    grid-column: 1 / 1;
}
.navbar {
    grid-row: 1 / 1;
    grid-column: 2 / -1;
}
.main {
    grid-row: 2/ -1;
    grid-column: 2;
}
.navbar-top {
    display:grid;
    grid-template-columns: 4fr 1.25fr;
    padding: 20px 10px;
}
.search {
    display:flex;
    align-items: center;
    justify-content: center;
}
.search-bar {
    border-radius: 15px;
    width: 40vw;
    padding:2px 7.5px;
}

.user-links {
    display:flex;
    justify-content: space-between;
}
.navbar-bottom {
    display: grid;
    grid-template-columns: 3fr 2fr;
}